* {
    margin: 0;
    padding: 0;
}

:root {
    --colour: #312f2f;
    --background-colour: #ffffff;
    --text-background-colour: #312f2f10;
    --ok-colour: #12b59d;
    --err-color: #de788c;

    font-family: monospace;
    color: var(--colour);
    background-color: var(--background-colour);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-colour: #1e1f22;
        --colour: #ffffff;
        --text-background-colour: #ffffff10;
    }
}

.flex {
    display: flex;
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

body {
    padding: 2rem;
}

h1 {
    padding-bottom: 2rem;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
    padding-bottom: 0.5rem;
}

.round-button {
    border-radius: 0.5rem;
    padding: 1.25rem;
    text-align: center;
    line-height: 1px;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: var(--background-colour);

    &.run {
        color: var(--ok-colour);
        border: 2px solid var(--ok-colour);
        margin-right: 0.5rem;

        &:hover {
            background-color: var(--ok-colour);
            color: white;
        }
    }

    &.clear {
        color: var(--err-color);
        border: 2px solid var(--err-color);

        &:hover {
            background-color: var(--err-color);
            color: white;
        }
    }

    &.example {
        color: var(--color);
        border: 2px solid var(--color);

        &:hover {
            background-color: var(--color);
            color: white;
        }
    }
}

textarea {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid var(--text-background-colour);
    background-color: var(--text-background-colour);
    color: var(--colour);
}

hr {
    margin: 2rem 0;
    border: 1px solid var(--text-background-colour);
}

ul {
    list-style: none;
}

li {
    margin-bottom: 1.5rem;
    &:last-child {
        margin-bottom: 0;
    }
}

p {
    &.ok {
        color: var(--ok-colour);
    }
    &.err {
        color: var(--err-color);
    }
}

pre {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--text-background-colour);
    background-color: var(--text-background-colour);
}

dialog#example {
    width: 50%;
    height: 50%;
    border: 2px solid var(--color);
    margin: auto;
    padding: 2rem;

    .flex {
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.5rem;
    }

    button.close {
        font-size: 1rem;
        width: 2rem;
        height: 2rem;
        text-align: center;
        line-height: 1px;
        cursor: pointer;
        transition-duration: 0.4s;
        background-color: white;
        font-weight: bold;
        color: var(--err-color);
        border: 2px solid var(--err-color);
        border-radius: 50%;
        transition: 0.4s;

        &:hover {
            background: var(--err-color);
            color: white;
        }
    }
}