on:
  push:
    branches: [ "main" ]
jobs:
  # Build job
  build:
    name: Build Playground
    # Specify runner +  build & upload the static files as an artifact
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup rust toolchain, cache
        uses: moonrepo/setup-rust@v1
        with:
          channel: stable
          cache-target: playground
          bins: wasm-pack
      - name: Build static files
        id: build
        working-directory: plat-smt-web-demo
        run: wasm-pack build --target web --no-pack --out-dir ./www/pkg
      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: plat-smt-web-demo/www/

  # Deployment job
  deploy:
    name: Deploy Playground
    needs: build
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4