name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup rust toolchain, cache
        uses: moonrepo/setup-rust@v1
        with:
          channel: stable
          cache-target: dev
      - run: cargo test
      - run: cargo test --features test_add_more_mid_search_equalities
  test-starexec-bench:
    name: StarExec SMT tests
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v4
      - name: Setup rust toolchain, cache
        uses: moonrepo/setup-rust@v1
        with:
          channel: stable
          cache-target: release
      - run: cargo test --release --package plat-smt --test test test_smtlib_benchmarks
  test-more:
    name: StarExec SMT tests with extra equalities and randomized activations
    runs-on: ubuntu-latest
    needs: [ test ]
    steps:
      - uses: actions/checkout@v4
      - name: Setup rust toolchain, cache
        uses: moonrepo/setup-rust@v1
        with:
          channel: stable
          cache-target: release
      - run: cargo test --release --features test_add_more_mid_search_equalities --package plat-smt --test test test_smtlib_benchmarks
      - run: SEED=1 cargo test --release --features test_add_more_mid_search_equalities --package plat-smt --test test test_smtlib_benchmarks
      - run: SEED=1 cargo test --release --package plat-smt --test test test_smtlib_benchmarks

  benchmarks:
    needs: [test-starexec-bench]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup rust toolchain, cache and cargo-codspeed binary
        uses: moonrepo/setup-rust@v1
        with:
          channel: 1.89.0
          cache-target: release
          bins: cargo-codspeed

      - name: Build the benchmark target(s)
        run: cargo +1.89.0 codspeed build

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v3
        with:
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: cargo codspeed run
